<div class="site-footer" style="overflow-y: auto;">
    <script async="async" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5150723004543778"
         crossorigin="anonymous"></script>
    <!-- 160x600 -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:160px;height:600px"
         data-ad-client="ca-pub-5150723004543778"
         data-ad-slot="4018490509"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
